.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.text-sec,
.image-sec {
  flex: 1;
}

.text-sec {
  padding-right: 20px;
}

.image-sec img {
  width: 100%;
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
